.itemListContainer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.itemIndividual{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}